body main {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; /* 置中效果 */
  margin-top: 30px;
  background-color: #b9b770;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

body main h1 {
  font-size: 2.5em;
  font-weight: 200;
}

/* 購物車 start */
body main .cart table tbody tr td a.addProduct {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 0 7px;
  background-color: #acb63d;
  border-radius: 3px;
}

body main .cart table tbody tr td a.addProduct:hover {
  background-color: #62701f;
  transition: background-color 0.3s;
}
/* 加減符號懸浮變色效果 */

body main .cart table {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
}

body main .cart table thead tr {
  background-color: #eeed94;
}

body main .cart table thead td {
  padding: 7px;
}

body main .cart table tbody td {
  padding: 7px;
}
/* 購物車 end */

/* 想學習的技能 start */
body main .skillset {
  margin-top: 60px;
}

body main .skillset input[type="checkbox"] {
  margin-right: 5px;
}

body main .skillset .selectAll {
  padding: 10px;
  color: white;
  background-color: #47520d;
  text-decoration: none;
  border-radius: 4px;
}

body main .skillset .selectAll:hover {
  background-color: #181d00;
  transition: background-color 0.3s;
}
/* 想學習的技能 end */